@import "/src/styles/extend.scss";

div.nav-tools {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--theme-standard-borders);
    padding: 2px 10px;
}

div.nav-tools-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; // Yeh ensure karega ki sabhi 4 icons barabar space lein
    height: 54px;
    
    @media (max-height: 725px) { height: 49px; }
    @media (max-height: 690px) { height: 44px; }
}

div.nav-tools-shrink {
    flex-direction: column;
    padding: 0;

    div.nav-tools-item {
        width: 100%;
        
        &:not(:first-child) {
            border-top: 1px solid var(--theme-standard-borders);
        }
    }
}